<%= form_for(@proposal, url: form_url) do |f| %>
  <%= render 'shared/errors', resource: @proposal %>

  <div class="row">
    <div class="small-12 column">
      <%= f.label :tipe, t("proposals.form.proposal_type") %>
      <%= f.radio_button :tipe, "Proyecto", checked: true, class: "project", 'data-tooltip': "Representa la creación, ampliación, mejora, modernización y/o recuperación de la capacidad de producción de bienes y servicios, implicando la variación sustancial o el cambio de procesos y/o tecnología utilizada por la entidad pública"%>&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :tipe, "Actividad", class: "activity", 'data-tooltip': "Acciones que concurren en la operatividad y mantenimiento de los servicios públicos o administrativos existentes" %>
    </div>

    <div class="small-12 column" id="level_of_study">
      <%= f.label :level, t("proposals.form.proposal_level") %>
      <%= f.radio_button :level, "Idea", checked: true, class: "idea", 'data-tooltip': "Son iniciativas de inversión pública, que no cuentan con estudios ni con la viabilidad requerida, y que responde a los criterios de priorización de Proyectos del Presupuesto Participativo" %>&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :level, "Perfil", class: "perfil",'data-tooltip': "Proyectos que cuentan con estudios incompletos, en el marco del Sistema nacional de Programación Multianual y Gestión de Inversiones - Invierte Perú" %>&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :level, "Expediente Técnico", class: "perfil",'data-tooltip': "Proyectos que cuentan con estudios aprobados, en el marco del Sistema nacional de Programación Multianual y Gestión de Inversiones - Invierte Perú" %>
    </div>

    <div class="small-12 column">
      <%= f.label :title, t("proposals.form.proposal_title") %>
      <%= f.text_field :title, maxlength: Proposal.question_max_length, placeholder: t("proposals.form.proposal_title"), label: false, data: {js_suggest_result: "js_suggest_result", js_suggest: "#js-suggest", js_url: suggest_proposals_path}%>
    </div>
    <div id="js-suggest"></div>

    <%= f.invisible_captcha :subtitle %>

    <div class="small-12 column" id="proposal_snip" style="display: none">
      <%= f.label :snip, t("proposals.form.snip") %>
      <%= f.text_field :snip, maxlength: 8, placeholder: t("proposals.form.snip"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :summary, t("proposals.form.proposal_summary") %>
      <p class="help-text" id="summary-help-text"><%= t("proposals.form.proposal_summary_note") %></p>
      <%= f.text_area :summary, rows: 4, maxlength: 200, label: false,
                      placeholder: t('proposals.form.proposal_summary'),
                      aria: {describedby: "summary-help-text"} %>
    </div>

    <div class="small-12 column">
      <%= f.label :gap_contributes, t("proposals.form.gap_contributes") %>
      <%= f.text_field :gap_contributes, placeholder: t("proposals.form.gap_contributes"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :strategic_objective, t("proposals.form.strategic_objective") %>
      <%= f.select :strategic_objective, options_for_select(
        [t("proposals.form.strategic_objective1"),
         t("proposals.form.strategic_objective2"),
         t("proposals.form.strategic_objective3"),
         t("proposals.form.strategic_objective4"),
         t("proposals.form.strategic_objective5"),
         t("proposals.form.strategic_objective6"),
         t("proposals.form.strategic_objective7"),
         t("proposals.form.strategic_objective8"),
         t("proposals.form.strategic_objective9")]), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :specific_objective, t("proposals.form.specific_objective") %>
      <%= f.text_field :specific_objective, placeholder: t("proposals.form.specific_objective"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :problem_solve, t("proposals.form.problem_solve") %>
      <%= f.text_field :problem_solve, placeholder: t("proposals.form.problem_solve"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :potentiality_solve, t("proposals.form.potentiality_solve") %>
      <%= f.text_field :potentiality_solve, placeholder: t("proposals.form.potentiality_solve"), label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :population, t("proposals.form.population") %>
      <%= f.number_field :population, placeholder: t("proposals.form.population"), label: false %>
    </div>

    <div class="small-12 column" id="proposal_price" style="display: none">
      <%= f.label :price, t("proposals.form.price") %>
      <%= f.number_field :price, placeholder: t("proposals.form.price"), label: false %>
    </div>

    <div class="small-12 column" id="proposal_executor" style="display: none">
      <%= f.label :executor, t("proposals.form.executor") %>
      <%= f.text_field :executor, placeholder: t("proposals.form.executor"), label: false %>
    </div>

    <div class="small-12 column" id="proposal_responsable" style="display: none">
      <%= f.label :responsable, t("proposals.form.responsable") %>
      <%= f.text_field :responsable, placeholder: t("proposals.form.responsable"), label: false %>
    </div>

    <div class="ckeditor small-12 column">
      <%= f.label :description, t("proposals.form.proposal_text") %>
      <%= f.cktext_area :description, maxlength: Proposal.description_max_length, ckeditor: { language: I18n.locale }, label: false %>
    </div>

    <div class="small-12 column">
      <%= f.label :video_url, t("proposals.form.proposal_video_url") %>
      <p class="help-text" id="video-url-help-text"><%= t("proposals.form.proposal_video_url_note") %></p>
      <%= f.text_field :video_url, placeholder: t("proposals.form.proposal_video_url"), label: false,
                                   aria: {describedby: "video-url-help-text"} %>
    </div>

    <div class="small-12 column">
      <%= f.label :external_url, t("proposals.form.proposal_external_url") %>
      <%= f.text_field :external_url, placeholder: t("proposals.form.proposal_external_url"), label: false %>
    </div>

    <div class="images small-12 column">
      <%= render 'images/nested_image', imageable: @proposal, f: f %>
    </div>

    <div class="documents small-12 column">
      <%= render 'documents/nested_documents', documentable: @proposal, f: f %>
    </div>

    <div class="small-12 medium-6 column">
      <%= f.label :geozone_id,  t("proposals.form.geozone") %>
      <%= f.select :geozone_id, geozone_select_options, {include_blank: t("geozones.none"), label: false}, class: "geozone_province" %>
    </div>

    <div class="small-12 medium-6 column">
      <br>
      <%= f.select :geozone_id, geozone_select_district, {include_blank: t("geozones.none_province"), label: false}, class: "geozone_district", display: "none" %>
    </div>

    <%= javascript_include_tag "geozone" %>

    <% if feature?(:map) %>
      <div class="small-12 column">

        <%= render 'map_locations/form_fields',
                   form:     f,
                   map_location: @proposal.map_location || MapLocation.new,
                   label:    t("proposals.form.map_location"),
                   help:     t("proposals.form.map_location_instructions"),
                   remove_marker_label: t("proposals.form.map_remove_marker"),
                   parent_class: "proposal" %>

      </div>
    <% end %>

    <div class="small-12 column">
      <%= f.label :tag_list, t("proposals.form.tags_label") %>
      <p class="help-text" id="tag-list-help-text"><%= t("proposals.form.tags_instructions") %></p>

      <div id="category_tags" class="tags">
        <% @categories.each do |tag| %>
          <a class="js-add-tag-link"><%= tag.name %></a>
        <% end %>
      </div>

      <br>
      <%= f.text_field :tag_list, value: @proposal.tag_list.to_s,
                        label: false,
                        placeholder: t("proposals.form.tags_placeholder"),
                        class: 'js-tag-list tag-autocomplete',
                        aria: {describedby: "tag-list-help-text"},
                        data: {js_url: suggest_tags_path},
                        readonly: true, required: true %>
    </div>

    <% if current_user.unverified? %>
      <div class="small-12 column">
        <%= f.label :responsible_name, t("proposals.form.proposal_responsible_name") %>
        <p class="help-text" id="responsible-name-help-text"><%= t("proposals.form.proposal_responsible_name_note") %></p>
        <%= f.text_field :responsible_name, placeholder: t("proposals.form.proposal_responsible_name"), label: false,
                                            aria: {describedby: "responsible-name-help-text"} %>
      </div>
    <% end %>

    <div class="small-12 column">
      <% if @proposal.new_record? %>
        <%= f.label :terms_of_service do %>
          <%= f.check_box :terms_of_service, title: t('form.accept_terms_title'), label: false %>
          <span class="checkbox">
            <%= t("form.accept_terms",
                policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                conditions: link_to(t("form.conditions"), "/conditions", target: "blank")).html_safe %>
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("proposals.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>
