<%= form_for(@investment, url: form_url, method: :post, html: { multipart: true }) do |f| %>
  <%= render 'shared/errors', resource: @investment %>

  <div class="row">
    <div class="small-12 medium-8 column">
      <%= f.select :heading_id, budget_heading_select_options(@budget), {include_blank: true, } %>
    </div>

    <div id="js-suggest"></div>
    <%= f.invisible_captcha :subtitle %>

    <table class="table-for-mobile">
      <thead>
      <tr>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_code") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_title") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_type") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_level") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_support") %>
        </th>
        <th scope="col" class="text-center">
          <%= t("budgets.investments.form.tab_action") %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @proposals.each do |proposal| %>
        <tr id="<%= dom_id(proposal) %>">
          <td class="text-center">
            <%= proposal.code %>
          </td>
          <td>
            <%= proposal.title %>
          </td>
          <td class="text-center">
            <%= proposal.tipe %>
          </td>
          <td class="text-center">
            <%= proposal.level %>
          </td>
          <td class="text-center">
            <%= proposal.cached_votes_up %>
          </td>
          <td class="text-center">
            <%= check_box_tag "proposal_ids[]", proposal.id, nil, id: "#{dom_id(proposal)}_check" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="actions small-12 medium-6 large-4 end column">
      <%= f.submit(nil, class: "button expanded") %>
    </div>
  </div>
<% end %>
