<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="<%= current_user.try(:id) %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= render "layouts/tracking_data" %>
    <%= render "layouts/meta_tags" %>
    <title><%= content_for?(:title) ? yield(:title) : setting['org_name'] %></title>
    <%= content_for :canonical %>
    <script type="application/javascript">
      var uagent = navigator.userAgent.toLowerCase();
      if(/safari/.test(uagent) && !/chrome/.test(uagent))
      {
        window.location.href = "/debates"
      }
    </script>
    <%= stylesheet_link_tag    "home" %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= javascript_include_tag "home", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag image_path_for("apple-touch-icon-200.png"),
                         rel: "icon apple-touch-icon",
                         sizes: "200x200",
                         type: "image/png" %>
    <%= content_for :social_media_meta_tags %>

    <%= setting['per_page_code_head'].try(:html_safe) %>
  </head>
  <body data-no-turbolink>
    <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-0">
      <div class="mbr-navbar__section mbr-section">
        <div class="row">
          <div class="top-bar">
            <%= link_to setting['org_name'], root_path, class: "logo show-for-small-only" %>
            <span data-responsive-toggle="responsive_menu" data-hide-for="medium" class="float-right" id="menu_respon">
                <span class="menu-icon dark" data-toggle></span>
              <%= t("application.menu")%>
            </span>
            <div id="responsive_menu">
              <div class="top-bar-title">
                <%= link_to root_path, class: "hide-for-small-only", accesskey: "0" do %>
                  <%= image_tag(image_path_for('logo_header.png'), class: 'hide-for-small-only float-left', size: '80x80', alt: t("layouts.header.logo")) %>
                  <%= setting['org_name'] %>
                <% end %>
              </div>
              <div class="top-bar-right">
                <ul class="menu" data-responsive-menu="medium-dropdown">
                  <%= render "shared/admin_login_items" %>
                  <%= render "layouts/notification_item" %>
                  <%= render "devise/menu/login_items" %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= video_tag(video_path_for('welcome_video.mp4'), poster: image_path_for('welcome-image.png'), id: 'video', playsinline: :playsinline, autoplay: :autoplay, muted: :muted, loop: :loop, type: 'video/mp4')%>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/social' %>
    <div class="footer" style="margin-top: 0 !important;">
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "home" %>
  <![endif]-->
</html>
