<% content_for :canonical do %>
    <%= render "shared/canonical", href: root_url %>
<% end %>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header2-1" style="background-color: rgba(0,0,0,0.55);">
  <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
    <div class="mbr-box__container mbr-section__container container">
      <div class="mbr-box mbr-box--stretched">
        <div class="mbr-box__magnet mbr-box__magnet--center-left">
          <div class="mbr-hero animated fadeInUp">
            <h1 style="padding-top:5%;letter-spacing:0;font-size:60px;"><%= t("layouts.header.open_city_title") %></h1>
            <p class="mbr-hero__subtext" style="padding-top:4%;font-size:27px;"><%= t("layouts.header.open_city_slogan_html") %></p>
          </div>
          <div class="mbr-buttons btn-inverse mbr-buttons--left">
            <% if feature?(:debates) %>
                <%= layout_menu_link_to t("layouts.header.debates"),
                                        debates_path,
                                        controller_name == 'debates',
                                        accesskey: "1",
                                        title: t("shared.go_to_page") + t("layouts.header.debates"), class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <% if feature?(:proposals) %>
            <%= layout_menu_link_to t("layouts.header.proposals"),
                                    proposals_path,
                                    controller_name == 'proposals',
                                    accesskey: "2",
                                    title: t("shared.go_to_page") + t("layouts.header.proposals"), class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <% if feature?(:polls) %>
              <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                      polls_path,
                                      controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                      accesskey: "3",
                                      title: t("shared.go_to_page") + t("layouts.header.poll_questions"), class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <% if feature?(:budgets) %>
              <%= layout_menu_link_to t("layouts.header.budgets"),
                                      budgets_path,
                                      controller_name == "budgets" || controller_name == "investments",
                                      accesskey: "4",
                                      title: t("shared.go_to_page") + t("layouts.header.budgets"), class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <% if feature?(:legislation) %>
                <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                        legislation_processes_path,
                                        controller.class.parent == Legislation,
                                        accesskey: "l", class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <% if feature?(:spending_proposals) %>
                <%= layout_menu_link_to t("layouts.header.spending_proposals"),
                                        spending_proposals_path,
                                        controller_name == 'spending_proposals',
                                        accesskey: "s", class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
            <% end %>
            <%= link_to t("layouts.header.help"), help_path, class: "mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <section class="screen situation active" style="position: relative !important; z-index: 1; overflow: hidden; min-width: 340px;">
  <div class="wrapperx" style="margin: 0 auto; max-width: 85%;">
    <h2>¡Entérese de lo que puede hacer!</h2>
    <ul style="margin-left: 0;">
      <% if feature?(:debates) %>
        <li class="office">
          <div class="bg"></div>
          <div class="text">
            <%= layout_menu_link_to t("layouts.header.debates"),
                                    debates_path,
                                    controller_name == 'debates',
                                    accesskey: "1",
                                    title: t("shared.go_to_page") + t("layouts.header.debates") %>
            <p><%= t("welcome.debates.description") %></p>
          </div>
        </li>
      <% end %>
      <% if feature?(:proposals) %>
        <li class="classroom active">
          <div class="bg"></div>
          <div class="text">
            <%= layout_menu_link_to t("layouts.header.proposals"),
                                    proposals_path,
                                    controller_name == 'proposals',
                                    accesskey: "2",
                                    title: t("shared.go_to_page") + t("layouts.header.proposals") %>
            <p><%= t("welcome.proposal.description") %></p>
          </div>
        </li>
      <% end %>
      <% if feature?(:polls) %>
        <li class="alive">
          <div class="bg"></div>
          <div class="text">
            <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                    polls_path,
                                    controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                    accesskey: "3",
                                    title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
            <p><%= t("welcome.decide.description") %></p>
          </div>
        </li>
      <% end %>
      <% if feature?(:budgets) %>
        <li class="home">
          <div class="bg"></div>
          <div class="text">
            <%= layout_menu_link_to t("layouts.header.budgets"),
                                    budgets_path,
                                    controller_name == "budgets" || controller_name == "investments",
                                    accesskey: "4",
                                    title: t("shared.go_to_page") + t("layouts.header.budgets") %>
            <p><%= t("welcome.do.description") %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>
